Source: pylocator
Section: python
Priority: extra
Maintainer: Thorsten Kranz <thorstenkranz@gmail.com>
Uploaders: Thorsten Kranz <thorstenkranz@gmail.com>
Build-Depends: debhelper (>= 7.2.18), python-all (>= 2.5), python-support (>= 0.6), python-numpy (>= 1.2), python-nibabel, python-vtk, python-gtk2, python-gtkglext1
Standards-Version: 3.9.2
Homepage: http://pylocator.thorstenkranz.de
Vcs-Browser: http://github.com/nipy/PyLocator
Vcs-Git: git://github.com/nipy/PyLocator.git
XS-Python-Version: >= 2.5

Package: pylocator
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-numpy, python-scipy, python-nibabel, python-vtk, python-gtk2, python-gtkglext1
Recommends: python-dicom
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description:  Localization of EEG-electrodes from MRI-volumes
 PyLocator is a little program for localizing EEG electrodes from MR-images. 
 It uses VTK to show a neat GUI for marking electrode locations in 3d-space.
 It is based on previous work by John D. Hunter and Michael Castell as part 
 of pbrain, now maintained by Eli Albert. 
 PyLocator works as a stand-alone program without any dependencies from pbrain.

