#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# one ring to rule them all ...
%:
# need to enforce distutils, since we also have a makefile
	dh $@ --buildsystem=python_distutils --builddirectory=build

override_dh_auto_build:
	dh_auto_build
	# and docs
#	$(MAKE) htmldoc
#	# but remove jquery copy (later on link to Debian's version)
#	-rm doc/build/html/_static/jquery.js
#	# objects inventory is of no use for the package
#	-rm doc/build/html/objects.inv
#	# also doc source files only consume space
#	-rm -r build/html/_sources

## immediately useable documentation
## and exemplar data (they are small excerpts anyway)
override_dh_compress:
	dh_compress -X.py -X.html -X.css -X.jpg -X.txt -X.js -X.json -X.rtc -X.par -X.bin

#override_dh_installman:
#	PYTHONPATH=build/lib:$(PYTHONPATH) help2man -N \
#		-n 'convert PARREC image to NIfTI' bin/parrec2nii > build/parrec2nii.1
#	dh_installman build/parrec2nii.1

#override_dh_clean:
#	$(MAKE) clean
#	dh_clean
